// ADS

.ads {
   @include adaptiveValue('padding-block', 120, 40);
   background-color: rgba(164, 10, 10, 1);

	&__container {
      display: flex;
      justify-content: center;
      align-items: center;
	}

	&__block {
      width: 384px;
      color: rgba(255, 255, 255, 1);
	}

	&__title {
      margin-bottom: 20px;
	}

	&__text {
	}
}
