@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo:regular,700,800&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

button,
select,
a {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "MonteCarlo";
  src: url("../fonts/MonteCarlo-Regular.woff") format("woff"), url("../fonts/MonteCarlo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.films .card-film__pic, .content__pic, .gallery__img-center, .gallery__pic-box, .hero__pic, .footer__img-logo, .header__img-logo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.title {
  position: relative;
  font-family: "NanumMyeongjo";
  line-height: 1.5;
  text-transform: uppercase;
  font-weight: 400;
}
@media (min-width: 77.875em) {
  .title {
    font-size: 1.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 1.5rem , 1.4136069114rem  +  0.4319654428vw , 1.75rem )) {
    .title {
      font-size: clamp( 1.5rem , 1.4136069114rem  +  0.4319654428vw , 1.75rem );
    }
  }
  @supports not (font-size: clamp( 1.5rem , 1.4136069114rem  +  0.4319654428vw , 1.75rem )) {
    .title {
      font-size: calc(1.5rem + 0.25 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 1.5rem;
  }
}

.text {
  line-height: 1.5;
}
@media (min-width: 77.875em) {
  .text {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .text {
      font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .text {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .text {
    font-size: 0.875rem;
  }
}

.year {
  font-family: "Montserrat";
  line-height: 1.5;
  text-transform: uppercase;
}
@media (min-width: 77.875em) {
  .year {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .year {
      font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .year {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .year {
    font-size: 0.875rem;
  }
}

@media (min-width: 77.875em) {
  section:not(:last-child) {
    margin-bottom: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (margin-bottom: clamp( 4.375rem , 3.2950863931rem  +  5.3995680346vw , 7.5rem )) {
    section:not(:last-child) {
      margin-bottom: clamp( 4.375rem , 3.2950863931rem  +  5.3995680346vw , 7.5rem );
    }
  }
  @supports not (margin-bottom: clamp( 4.375rem , 3.2950863931rem  +  5.3995680346vw , 7.5rem )) {
    section:not(:last-child) {
      margin-bottom: calc(4.375rem + 3.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  section:not(:last-child) {
    margin-bottom: 4.375rem;
  }
}

.header {
  background-color: rgb(174, 6, 11);
}
@media (min-width: 77.875em) {
  .header {
    padding-block: 0.625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-block: clamp( 0.625rem , 2.3069654428rem  +  -2.1598272138vw , 1.875rem )) {
    .header {
      padding-block: clamp( 0.625rem , 2.3069654428rem  +  -2.1598272138vw , 1.875rem );
    }
  }
  @supports not (padding-block: clamp( 0.625rem , 2.3069654428rem  +  -2.1598272138vw , 1.875rem )) {
    .header {
      padding-block: calc(1.875rem + -1.25 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .header {
    padding-block: 1.875rem;
  }
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 533px) {
  .header__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 10px;
  }
}
.header__logo {
  width: 229px;
  overflow: hidden;
}
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__phone-contacts {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 5%;
  color: rgb(255, 255, 255);
}
@media (min-width: 77.875em) {
  .header__phone-contacts {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .header__phone-contacts {
      font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .header__phone-contacts {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .header__phone-contacts {
    font-size: 0.875rem;
  }
}
.header__icon-contacts {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__icon-contacts--behance {
  background-color: rgb(65, 118, 250);
}
.header__icon-contacts--telegram {
  background-color: rgb(3, 155, 229);
}
.header__behance-icon {
  aspect-ratio: 24/15;
}
.header__telegram-icon {
  aspect-ratio: 22/18;
}

.footer {
  background-color: rgb(0, 0, 0);
}
@media (min-width: 77.875em) {
  .footer {
    padding-block: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-block: clamp( 1.875rem , 1.6590172786rem  +  1.0799136069vw , 2.5rem )) {
    .footer {
      padding-block: clamp( 1.875rem , 1.6590172786rem  +  1.0799136069vw , 2.5rem );
    }
  }
  @supports not (padding-block: clamp( 1.875rem , 1.6590172786rem  +  1.0799136069vw , 2.5rem )) {
    .footer {
      padding-block: calc(1.875rem + 0.625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .footer {
    padding-block: 1.875rem;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 678px) {
  .footer__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 678px) {
  .footer__group-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 678px) {
  .footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footer__logo {
  width: 229px;
  overflow: hidden;
  margin-bottom: 25px;
}
.footer__copyright {
  font-size: 15px;
  color: rgb(255, 255, 255);
  line-height: 1.1;
}
.footer__phone-contacts {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 5%;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
}
@media (min-width: 77.875em) {
  .footer__phone-contacts {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .footer__phone-contacts {
      font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .footer__phone-contacts {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .footer__phone-contacts {
    font-size: 0.875rem;
  }
}
.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__icon-socials {
  width: 40px;
  height: 40px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__icon-socials--telegram {
  background-color: rgb(3, 155, 229);
  border-radius: 50%;
}
.footer__icon-socials--pinterest {
  background-color: rgb(213, 0, 18);
  border-radius: 50%;
}
.footer__telegram-icon {
  aspect-ratio: 22/18;
}
.footer__linkedin-icon {
  aspect-ratio: 20/20;
}
.footer__pinterest-icon {
  aspect-ratio: 20/25;
}

.hero {
  width: 100%;
}
@media (min-width: 77.875em) {
  .hero {
    padding-top: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-top: clamp( 1.875rem , 1.6590172786rem  +  1.0799136069vw , 2.5rem )) {
    .hero {
      padding-top: clamp( 1.875rem , 1.6590172786rem  +  1.0799136069vw , 2.5rem );
    }
  }
  @supports not (padding-top: clamp( 1.875rem , 1.6590172786rem  +  1.0799136069vw , 2.5rem )) {
    .hero {
      padding-top: calc(1.875rem + 0.625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero {
    padding-top: 1.875rem;
  }
}
.hero__head {
  text-align: center;
  margin-bottom: 20px;
}
.hero__title {
  font-family: "NanumMyeongjo";
  line-height: 1.5;
  text-transform: uppercase;
  color: rgb(174, 6, 11);
}
@media (min-width: 77.875em) {
  .hero__title {
    font-size: 6.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 3.75rem , 2.8860691145rem  +  4.3196544276vw , 6.25rem )) {
    .hero__title {
      font-size: clamp( 3.75rem , 2.8860691145rem  +  4.3196544276vw , 6.25rem );
    }
  }
  @supports not (font-size: clamp( 3.75rem , 2.8860691145rem  +  4.3196544276vw , 6.25rem )) {
    .hero__title {
      font-size: calc(3.75rem + 2.5 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__title {
    font-size: 3.75rem;
  }
}
@media (max-width: 768px) {
  .hero__title {
    line-height: 1.2;
  }
}
.hero__subtitle {
  font-family: "MonteCarlo";
  line-height: 1.5;
  text-transform: capitalize;
  color: rgb(20, 20, 20);
}
@media (min-width: 77.875em) {
  .hero__subtitle {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 2.1875rem , 1.6475431965rem  +  2.6997840173vw , 3.75rem )) {
    .hero__subtitle {
      font-size: clamp( 2.1875rem , 1.6475431965rem  +  2.6997840173vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 2.1875rem , 1.6475431965rem  +  2.6997840173vw , 3.75rem )) {
    .hero__subtitle {
      font-size: calc(2.1875rem + 1.5625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .hero__subtitle {
    font-size: 2.1875rem;
  }
}
.hero__bg-img {
  width: 100%;
  overflow: hidden;
}
.about__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 77.875em) {
  .about__block {
    gap: 1.875rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.9375rem , 0.6135259179rem  +  1.6198704104vw , 1.875rem )) {
    .about__block {
      gap: clamp( 0.9375rem , 0.6135259179rem  +  1.6198704104vw , 1.875rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.6135259179rem  +  1.6198704104vw , 1.875rem )) {
    .about__block {
      gap: calc(0.9375rem + 0.9375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .about__block {
    gap: 0.9375rem;
  }
}
@media (max-width: 992px) {
  .about__block {
    grid-template-columns: 1fr;
  }
}
.about__box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (min-width: 77.875em) {
  .about__box-text {
    gap: 0.9375rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.5rem , 0.348812095rem  +  0.7559395248vw , 0.9375rem )) {
    .about__box-text {
      gap: clamp( 0.5rem , 0.348812095rem  +  0.7559395248vw , 0.9375rem );
    }
  }
  @supports not (gap: clamp( 0.5rem , 0.348812095rem  +  0.7559395248vw , 0.9375rem )) {
    .about__box-text {
      gap: calc(0.5rem + 0.4375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .about__box-text {
    gap: 0.5rem;
  }
}
@media (max-width: 992px) {
  .about__box-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
.about__text {
  width: 80%;
}
@media (max-width: 992px) {
  .about__text {
    width: 100%;
  }
}
.about__box-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 992px) {
  .about__box-year {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.gallery__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media (min-width: 77.875em) {
  .gallery__block {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 1.25rem , 0.9908207343rem  +  1.2958963283vw , 2rem )) {
    .gallery__block {
      gap: clamp( 1.25rem , 0.9908207343rem  +  1.2958963283vw , 2rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.9908207343rem  +  1.2958963283vw , 2rem )) {
    .gallery__block {
      gap: calc(1.25rem + 0.75 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .gallery__block {
    gap: 1.25rem;
  }
}
@media (max-width: 900px) {
  .gallery__block {
    grid-template-columns: 1fr;
  }
}
.gallery__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (max-width: 900px) {
  .gallery__left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.gallery__photo-box {
  width: 176px;
}
@media (max-width: 400px) {
  .gallery__photo-box {
    width: 150px;
  }
}
.gallery__photo-box--left .gallery__img-box {
  margin-bottom: 15px;
}
@media (max-width: 400px) {
  .gallery__photo-box--left {
    width: 150px;
  }
}
.gallery__year-box {
  margin-bottom: 10px;
}
.gallery__img-box {
  width: 176px;
  height: 200px;
  overflow: hidden;
}
@media (max-width: 400px) {
  .gallery__img-box {
    width: 150px;
    height: 175px;
  }
}
.gallery__center {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.gallery__img-center {
  aspect-ratio: 384/550;
}
.gallery__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 77.875em) {
  .gallery__right {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem )) {
    .gallery__right {
      gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem )) {
    .gallery__right {
      gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .gallery__right {
    gap: 0.9375rem;
  }
}
@media (max-width: 900px) {
  .gallery__right {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.gallery__photo-box--right {
  text-align: right;
}

.biography__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 77.875em) {
  .biography__block {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem )) {
    .biography__block {
      gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem )) {
    .biography__block {
      gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .biography__block {
    gap: 0.9375rem;
  }
}
@media (max-width: 678px) {
  .biography__block {
    grid-template-columns: 1fr;
  }
}
.biography__item-block {
  border: 0.5px solid rgb(20, 20, 20);
}
@media (min-width: 77.875em) {
  .biography__item-block {
    padding: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem )) {
    .biography__item-block {
      padding: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem );
    }
  }
  @supports not (padding: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem )) {
    .biography__item-block {
      padding: calc(0.625rem + 0.625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .biography__item-block {
    padding: 0.625rem;
  }
}
.biography__item-block:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(20, 20, 20);
}
@media (min-width: 77.875em) {
  .biography__title-block {
    margin-bottom: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (margin-bottom: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem )) {
    .biography__title-block {
      margin-bottom: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem );
    }
  }
  @supports not (margin-bottom: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem )) {
    .biography__title-block {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .biography__title-block {
    margin-bottom: 0.625rem;
  }
}

.content__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 77.875em) {
  .content__container {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem )) {
    .content__container {
      gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.5703293737rem  +  1.8358531317vw , 2rem )) {
    .content__container {
      gap: calc(0.9375rem + 1.0625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .content__container {
    gap: 0.9375rem;
  }
}
@media (max-width: 678px) {
  .content__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 6px;
}
.content__block:first-child {
  max-width: 100%;
}
.content__block:first-child .content__img-block {
  width: 100%;
  margin-bottom: 10px;
}
.content__img-block {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.content__group-img {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 77.875em) {
  .content__group-img {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.625rem , 0.149838013rem  +  2.3758099352vw , 2rem )) {
    .content__group-img {
      gap: clamp( 0.625rem , 0.149838013rem  +  2.3758099352vw , 2rem );
    }
  }
  @supports not (gap: clamp( 0.625rem , 0.149838013rem  +  2.3758099352vw , 2rem )) {
    .content__group-img {
      gap: calc(0.625rem + 1.375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .content__group-img {
    gap: 0.625rem;
  }
}
.content__right {
  position: relative;
  width: 100%;
}
@media (max-width: 678px) {
  .content__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.content__link-right {
  position: absolute;
  right: 0;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  background-color: rgb(174, 6, 11);
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 5%;
}
@media (min-width: 77.875em) {
  .content__link-right {
    top: 21.625rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (top: clamp( 6.25rem , 0.936825054rem  +  26.56587473vw , 21.625rem )) {
    .content__link-right {
      top: clamp( 6.25rem , 0.936825054rem  +  26.56587473vw , 21.625rem );
    }
  }
  @supports not (top: clamp( 6.25rem , 0.936825054rem  +  26.56587473vw , 21.625rem )) {
    .content__link-right {
      top: calc(6.25rem + 15.375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .content__link-right {
    top: 6.25rem;
  }
}
@media (min-width: 77.875em) {
  .content__link-right {
    width: 20rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (width: clamp( 7.5rem , 3.1803455724rem  +  21.5982721382vw , 20rem )) {
    .content__link-right {
      width: clamp( 7.5rem , 3.1803455724rem  +  21.5982721382vw , 20rem );
    }
  }
  @supports not (width: clamp( 7.5rem , 3.1803455724rem  +  21.5982721382vw , 20rem )) {
    .content__link-right {
      width: calc(7.5rem + 12.5 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .content__link-right {
    width: 7.5rem;
  }
}
@media (min-width: 77.875em) {
  .content__link-right {
    height: 20rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (height: clamp( 7.5rem , 3.1803455724rem  +  21.5982721382vw , 20rem )) {
    .content__link-right {
      height: clamp( 7.5rem , 3.1803455724rem  +  21.5982721382vw , 20rem );
    }
  }
  @supports not (height: clamp( 7.5rem , 3.1803455724rem  +  21.5982721382vw , 20rem )) {
    .content__link-right {
      height: calc(7.5rem + 12.5 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .content__link-right {
    height: 7.5rem;
  }
}
@media (min-width: 77.875em) {
  .content__link-right {
    font-size: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 0.875rem , 0.4862311015rem  +  1.9438444924vw , 2rem )) {
    .content__link-right {
      font-size: clamp( 0.875rem , 0.4862311015rem  +  1.9438444924vw , 2rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.4862311015rem  +  1.9438444924vw , 2rem )) {
    .content__link-right {
      font-size: calc(0.875rem + 1.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .content__link-right {
    font-size: 0.875rem;
  }
}
@media (max-width: 678px) {
  .content__link-right {
    position: static;
  }
}

.timeline {
  border-top: 0.5px solid rgb(150, 150, 150);
  border-bottom: 0.5px solid rgb(150, 150, 150);
}
@media (min-width: 77.875em) {
  .timeline {
    padding-block: 7.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-block: clamp( 4.375rem , 3.2950863931rem  +  5.3995680346vw , 7.5rem )) {
    .timeline {
      padding-block: clamp( 4.375rem , 3.2950863931rem  +  5.3995680346vw , 7.5rem );
    }
  }
  @supports not (padding-block: clamp( 4.375rem , 3.2950863931rem  +  5.3995680346vw , 7.5rem )) {
    .timeline {
      padding-block: calc(4.375rem + 3.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline {
    padding-block: 4.375rem;
  }
}
.timeline__container {
  counter-reset: item 0;
}
.timeline__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.timeline .block-timeline__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 694px;
  width: 100%;
}
@media (min-width: 77.875em) {
  .timeline .block-timeline__list {
    gap: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 0.9375rem , 0.3975431965rem  +  2.6997840173vw , 2.5rem )) {
    .timeline .block-timeline__list {
      gap: clamp( 0.9375rem , 0.3975431965rem  +  2.6997840173vw , 2.5rem );
    }
  }
  @supports not (gap: clamp( 0.9375rem , 0.3975431965rem  +  2.6997840173vw , 2.5rem )) {
    .timeline .block-timeline__list {
      gap: calc(0.9375rem + 1.5625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline .block-timeline__list {
    gap: 0.9375rem;
  }
}
.timeline .list__item-block {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
@media (min-width: 77.875em) {
  .timeline .list__item-block {
    padding-left: 5.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-left: clamp( 4.375rem , 3.899838013rem  +  2.3758099352vw , 5.75rem )) {
    .timeline .list__item-block {
      padding-left: clamp( 4.375rem , 3.899838013rem  +  2.3758099352vw , 5.75rem );
    }
  }
  @supports not (padding-left: clamp( 4.375rem , 3.899838013rem  +  2.3758099352vw , 5.75rem )) {
    .timeline .list__item-block {
      padding-left: calc(4.375rem + 1.375 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline .list__item-block {
    padding-left: 4.375rem;
  }
}
@media (min-width: 77.875em) {
  .timeline .list__item-block {
    padding-block: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (padding-block: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem )) {
    .timeline .list__item-block {
      padding-block: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem );
    }
  }
  @supports not (padding-block: clamp( 0.625rem , 0.4090172786rem  +  1.0799136069vw , 1.25rem )) {
    .timeline .list__item-block {
      padding-block: calc(0.625rem + 0.625 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline .list__item-block {
    padding-block: 0.625rem;
  }
}
.timeline .list__item-block::before {
  position: absolute;
  left: 0;
  counter-increment: item;
  content: counter(item, decimal-leading-zero);
  color: rgb(150, 150, 150);
}
@media (min-width: 77.875em) {
  .timeline .list__item-block::before {
    font-size: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 2.5rem , 2.0680345572rem  +  2.1598272138vw , 3.75rem )) {
    .timeline .list__item-block::before {
      font-size: clamp( 2.5rem , 2.0680345572rem  +  2.1598272138vw , 3.75rem );
    }
  }
  @supports not (font-size: clamp( 2.5rem , 2.0680345572rem  +  2.1598272138vw , 3.75rem )) {
    .timeline .list__item-block::before {
      font-size: calc(2.5rem + 1.25 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline .list__item-block::before {
    font-size: 2.5rem;
  }
}
.timeline .list__item-block:not(:last-child) {
  border-bottom: 0.5px solid rgb(150, 150, 150);
}
.timeline .list__info-item {
  width: 280px;
}
.timeline .list__title-info {
  line-height: 1.5;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media (min-width: 77.875em) {
  .timeline .list__title-info {
    font-size: 1.25rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 1rem , 0.9136069114rem  +  0.4319654428vw , 1.25rem )) {
    .timeline .list__title-info {
      font-size: clamp( 1rem , 0.9136069114rem  +  0.4319654428vw , 1.25rem );
    }
  }
  @supports not (font-size: clamp( 1rem , 0.9136069114rem  +  0.4319654428vw , 1.25rem )) {
    .timeline .list__title-info {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline .list__title-info {
    font-size: 1rem;
  }
}
@media (min-width: 77.875em) {
  .timeline .list__subtitle-info {
    font-size: 1rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .timeline .list__subtitle-info {
      font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem );
    }
  }
  @supports not (font-size: clamp( 0.875rem , 0.8318034557rem  +  0.2159827214vw , 1rem )) {
    .timeline .list__subtitle-info {
      font-size: calc(0.875rem + 0.125 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .timeline .list__subtitle-info {
    font-size: 0.875rem;
  }
}
.timeline .list__year-item {
  text-align: right;
}

.films__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 77.875em) {
  .films__block {
    gap: 2rem;
  }
}
@media (min-width: 20em) and (max-width: 77.875em) {
  @supports (gap: clamp( 1.25rem , 0.9908207343rem  +  1.2958963283vw , 2rem )) {
    .films__block {
      gap: clamp( 1.25rem , 0.9908207343rem  +  1.2958963283vw , 2rem );
    }
  }
  @supports not (gap: clamp( 1.25rem , 0.9908207343rem  +  1.2958963283vw , 2rem )) {
    .films__block {
      gap: calc(1.25rem + 0.75 * (100vw - 20rem) / 57.875);
    }
  }
}
@media (max-width: 20em) {
  .films__block {
    gap: 1.25rem;
  }
}
@media (max-width: 992px) {
  .films__block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.films__card {
  max-width: 384px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media (max-width: 992px) {
  .films__card {
    margin-bottom: 20px;
  }
}
.ads {
  background-color: rgb(164, 10, 10);
}
.ads__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.ads__block {
  width: 384px;
  color: rgb(255, 255, 255);
}
.ads__title {
  margin-bottom: 20px;
}

body {
  width: 100%;
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(20, 20, 20);
  position: relative;
  font-weight: 400;
}

.wrapper {
  position: relative;
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class$=__container] {
  max-width: 1216px;
  padding-inline: 15px;
  margin-inline: auto;
}