// TITLE

.title {
   position: relative;
   font-family: $titleFontFamily;
   @include adaptiveValue('font-size', 28, 24);
   line-height: 1.5;
   text-transform: uppercase;
   font-weight: 400;
}

// TEXT

.text {
   line-height: 1.5;
   @include adaptiveValue('font-size', 16, 14);
}

// YEAR 
.year {
   font-family: "Montserrat";
   @include adaptiveValue('font-size', 16, 14);
   line-height: 1.5;
   text-transform: uppercase;
}

// SECTION

section:not(:last-child) {
   @include adaptiveValue('margin-bottom', 120, 70);
}
