// TITLE

.title {
   position: relative;
   font-family: $titleFontFamily;
   @include adaptiveValue('font-size', 28, 24);
   line-height: 1.5;
}

// TEXT

.text {
   line-height: 1.5;
   letter-spacing: 3%;
   @include adaptiveValue('font-size', 16, 14);
}

// YEAR 
.year {
   font-family: "Montserrat";
   @include adaptiveValue('font-size', 16, 14);
   line-height: 1.5;
   letter-spacing: 5%;
   text-transform: uppercase;
}
